
.listing-card{
    border: none !important;
    

}
.card-img-top
{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.main{
    height: calc(100% - 80px);
    margin-top:8rem;
    margin-bottom:8rem;
    /* margin-left: 20px; */
 
   
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0px;
    gap: 40px;

}

.filter{
    text-align: center;
    margin-left: 1rem;
    margin-top: 1rem;
    opacity: 0.7;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}
.filter img{
    height: 22px;
    width: 22px;

}
.filter p{
    font-size: 0.9rem;
}
.tax-toggle {
    border: 1px solid black;
    height: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}
.toggel{
    height: 22px !important;
    width: 3em !important;
    border-radius: 25em !important;
    margin-left: 1rem !important;

}